@font-face {
	font-family: 'BOWLER'; 
	src: local('BOWLER'),
		url(/font/BOWLER.ttf); 
}

@font-face {
	font-family: 'OFL'; 
	src: local('OFL'),
		url(/font/OFL.ttf); 
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #777;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

